<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad</title>
    <link rel="stylesheet" th:href="@{/styles/adInfoPageStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/headerStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive/headerResponsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive/adInfoResponsive.css}">
</head>
<body>
    <header th:replace = "fragments/headerFragment :: header"></header>
    <section id = "first_section">
        <article id="image-container">
            <img th:src="@{/ads/getImages/{id}(id = ${ad.id})}" alt="Product's image">
        </article>
        <article class="ad-info">
            <h1>Ad info</h1>
            <div class="item">
                <i class="fa-solid fa-calendar-days"></i>
                <small th:text = "${#temporals.format(ad.date, 'dd/MM/yyyy HH:mm')}"></small>
            </div>
            <h2 th:text = "${ad.title}"></h2>
            <div class="price">
                <i class="fa-solid fa-money-bill"></i>
                <h2 th:text = "${#numbers.formatDecimal(ad.price, 0, 'COMMA', 2, 'POINT')}"></h2>
                <h2>BGN</h2>
            </div>

            <form th:action="@{/ads/deleteAd/{id}(id = ${ad.id})}" th:method = "DELETE" id = "deleteAd" th:if = "${isDeleteAuthorized}">
                <button type="submit">Delete</button>
            </form>
        </article>
        <article class="user-info">
            <h1>User</h1>
            <i class="fa-solid fa-user"></i><p th:text = "${user.email}"></p>
            <br>
            <i class="fa-solid fa-phone" th:unless = "${#strings.isEmpty(user.phoneNumber)}"></i><p th:text = "${user.phoneNumber}"></p>
            <p th:if = "${#strings.isEmpty(user.phoneNumber)}" class="error-message">No phone number provided</p>
        
            <a th:href="@{/users/profile/{id}(id = ${user.id})}">
                <button>Visit profile</button>
            </a>
            
        </article>
        <article class="description">
            <h1>Description</h1>
            <p th:text = "${ad.description}"></p>
        </article>
    </section>
    <section>

    </section>
    
</body>
</html>