<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ads by category</title>
    <link rel="stylesheet" th:href="@{/styles/adsOverviewPageStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/headerStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/adsListFragmentStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive/headerResponsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive/adsOverviewResponsive.css}">

</head>
<body>
    <header th:replace = "fragments/headerFragment.html :: header"></header>

    <section id="filters" th:if = "${filters}">
        <h1>Filters</h1>
        <form th:action="@{/ads/ads_by_category/{categoryName}(categoryName = ${categoryName})}">
            <div class="input">
                <label for="minPrice">Enter minimal price</label>
                <input type="number" name="minPrice">
            </div>
            <div class="input">
                <label for="maxPrice">Enter maximal price</label>
                <input type="number" name="maxPrice">
            </div>
            <button type="submit">Apply</button>
        </form>
    </section>

    <section th:replace = "fragments/adsListFragment.html :: adList"></section>
</body>
</html>