<!DOCTYPE html>
<html lang="en" xmlns = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/indexPageStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/headerStyles.css}">
</head>
<body>
    <header th:replace = "fragments/headerFragment.html :: header">
    </header>
    
    <section id = "search">
        <form th:action="@{/ads/search}" th:method = "POST">
            <input type="text" placeholder="What are you looking for?">
            <button type="submit">Search</button>
        </form>
        <form th:action="@{/users/profileSearch}" th:method = "POST">
            <input type="text" placeholder="Search user" name="profileName">
            <button type="submit">Search</button>
        </form>

        <div class="roles-btns">
            <a th:href="@{/users/moderators}" sec:authorize = "hasAuthority('MODERATOR')">
                <button class="link-button">Moderator page</button>
            </a>
            <a th:href="@{/users/admins}" sec:authorize = "hasAuthority('ADMIN')">
                <button class="link-button">Admin page</button>
            </a>
        </div>
    </section>

    <section id = "categories" >
        <h1>Categories</h1>
        <ul type = "none" class="category" > 
           <li th:each = 'category : ${categories}' class="category-item">
                <a th:href="@{/ads/ads_by_category/{ca}(ca = ${category.name})}" >
                    <img th:src="@{/categoryImages/{image}(image = ${#strings.toLowerCase(category.name)} + '.png')}" alt="Category image" class="category-img">
                    <span th:text = "${category.name}"></span>
                </a>
           </li>
        </ul>
    </section>

</body>
</html>