<!DOCTYPE html>
<html lang="en" xmlns = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/indexPageStyles.css}">
</head>
<body>
    <header th:replace = "fragments/headerFragment.html :: header">
    </header>
    
    <section id = "search">
        <form th:action="@{/ads/search}" th:method = "POST">
            <input type="text" placeholder="What are you looking for?">
            <button type="submit">Search</button>
        </form>
        <form th:action="@{/users/profileSearch}" th:method = "POST">
            <input type="text" placeholder="Search user" name="profileName">
            <button type="submit">Search</button>
        </form>
    </section>

    <section id = "categories" >
        <h1>Categories</h1>
        <ul type = "none" class="category" > 
           <li th:each = 'category : ${categories}'>
                <a th:href="@{/ads/ads_by_category/{ca}(ca = ${category.name})}" th:text = "${category.name}"></a>
           </li>
        </ul>
    </section>

</body>
</html>