<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderators</title>
    <link rel="stylesheet" th:href="@{/styles/moderatorPageStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/headerStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive/headerResponsive.css}">

</head>
<body>
    <header th:replace = "fragments/headerFragment :: header"></header>
    <section id = "reports">
        <h1 th:if = "${#lists.isEmpty(reports)}" class="empty-text">No reports :)</h1>
        <a th:href="@{/reports/getReportInfo/{id}(id = ${report.id})}" class="report-container" th:each = "report, iterator : ${reports}">
            <div>
                <h1>Report #<span th:text = "${iterator.count}"></span></h1>
            </div>
        </a>
    </section>
</body>
</html>