<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text = "${user.username}"></title>
    <link rel="stylesheet" th:href="@{/styles/profileOverviewStyles.css}">
</head>
<body>

    <header th:replace = "fragments/headerFragment.html :: header"></header>
    <section id = "info-section">
        <article id = "user-info">
            <img th:src="@{/users/getProfilePicture/{profileName}(profileName = ${user.username})}" alt="User profile picture">
            <form th:action="@{/users/addProfilePicture/{id}(id = ${user.id})}" th:method = "post" th:if = "${isProfileOwned}" enctype="multipart/form-data">
                <input type="file" name = "img">
                <button type="submit">Upload profile photo</button>
            </form>
            <div class = "info-item">
                <i class="fa-solid fa-user"></i><p th:text = "${user.username}"></p>
            </div>
            <div class = "info-item">
                <i class="fa-solid fa-envelope"></i><p th:text = "${user.email}"></p>
            </div>
            <div class = "info-item">
                <i class="fa-solid fa-phone"></i><p th:text = "${user.phoneNumber}"></p>
            </div>
            <div class = "info-item">
                <i class="fa-solid fa-calendar-days"></i><p th:text = "${user.createdOn}"></p>
            </div>
              
            <div class="info-item" sec:authorize = "hasAuthority('ADMIN')">
                <i class="fa-solid fa-user-lock"></i><p th:text = "${profileAuthority}"></p>
            </div> 
            <div class = "info-item" id = "rating-stars">
                <i class="fa-solid fa-star" th:each="i : ${#numbers.sequence(1, userStarRating/1)}"></i>
            </div>        
        </article>

        <article id = "report" th:unless = "${isProfileOwned}">
            <h1>Report</h1>
            <div th:object = "${report}">
                <form th:action="@{users/profile/{id}(id = ${user.id})}" th:method = "post">
                    <label for = "score">Report*</label>
                    <textarea rows="7" name="reportText" cols="42"> </textarea>
                    <small th:if = "${#fields.hasErrors('reportText')}">Report must be between 30 and 1000 symbols!</small>
                    <button class="report-btn" type="submit">Report</button> 
                </form>
            </div>
        </article>

        <article id = "rating" th:unless = "${isProfileOwned}">
            <h1>Rate</h1>
            <div th:object = "${rating}">
                <form th:action="@{/ratings/addRating/{id}(id = ${user.id})}" th:method = "post">
                        <label for = "score">Rate user from 1(Very bad) to 5(Great)*</label>
                        <input type="number" min="1" max="5" name="score">
                        <small th:if = "${#fields.hasErrors('score')}">Rating must be between 1 and 10</small>
                        <label for="comment">Comment</label>
                        <textarea rows="7" type="text" name="comment"></textarea>
                    <button class="rate-btn" type="submit">Rate</button> 
                </form>
            </div>
        </article>

        <article id = "moderator-panel" sec:authorize = "hasAuthority('MODERATOR')" th:unless = "${isProfileOwned}"> 
            <h1>Ban user</h1>
            <form th:action="@{/users/banUser}">
                <div class="radio-button-div">
                    <input type="radio" name="numberOfHours" value="12">
                    <label for="numberOfHours">12 hours</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="numberOfHours" value="24">
                    <label for="numberOfHours">1 day</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="numberOfHours" value="48">
                    <label for="numberOfHours">2 days</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="numberOfHours" value="72">
                    <label for="numberOfHours">3 days</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="numberOfHours" value="168">
                    <label for="numberOfHours">1 week</label>
                </div>
                
                <button type="submit">Ban</button>
            </form>

        </article>

        <article id = "admin-panel" sec:authorize = "hasAuthority('ADMIN')" th:if = "${isUserAdmin}">
            <h1>User role</h1>
            <form th:action="@{/users/changeRole/{id}(id = ${user.id})}" th:method = "post">
                <div class="radio-button-div">
                    <input type="radio" name="authority" value="USER">
                    <label for="numberOfHours">USER</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="authority" value="MODERATOR">
                    <label for="numberOfHours">MODERATOR</label>
                </div>
                <div class="radio-button-div">
                    <input type="radio" name="authority" value="ADMIN">
                    <label for="numberOfHours">ADMIN</label>
                </div>
                <button type="submit">Change role</button>
            </form>
        </article>
    </section>
    <h1 class="allAdsTitle">All ads from user</h1>
    <hr>
    <section th:replace = "fragments/adsListFragment.html :: adList"></section>
</body>
</html>