<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles/loginAndRegisterPagesStyles.css}">
</head>
<body>
    <section id = "form-container">
        <h1>Register</h1>
        <small th:if = "${userExists}">User already exists!</small>
        <form th:action="@{/users/register}" th:method = "POST">
            <div th:object = "${userRegisterDto}">
                <div class="field">
                    <label for="username">Enter a username</label>
                    <input type="text" th:field = "*{username}" placeholder="ivan589" name = "username" th:errorclass = "error"> 
                    <small th:if = "${#fields.hasErrors('username')}" th:each = "error : ${#fields.errors('username')}" th:text = "${error}"></small>
                </div>
                <div class="field">
                    <label for="email">Enter an email</label>
                    <input type="email" th:field = "*{email}" placeholder="user@example.com" name = "email" th:errorclass = "error">  
                    <small th:if = "${#fields.hasErrors('email')}" th:each = "error : ${#fields.errors('email')}" th:text = "${error}"></small>
                </div>
                <div class="field">
                    <label for="phoneNumber">Enter your phone number</label>
                    <input type="tel" th:field = "*{phoneNumber}" placeholder="088*******" name = "phoneNumber" th:errorclass = "error">  
                    <small th:each = "error : ${#fields.errors('phoneNumber')}" th:text = "${error}"></small>
                </div>
                <div class="field">
                    <label for="password">Enter a password</label>
                    <input type="password" th:field = "*{password}" placeholder="*********" name = "password" th:errorclass = "error">  
                    <small th:each = "error : ${#fields.errors('password')}" th:text = "${error}"></small>
                </div>
                
                <div class="field">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" placeholder="*********" name = "confirmPassword" th:errorclass = "error">
                    <small th:if="${passwordMismatch}">Passwords must match</small>
                </div>
                <button type="submit">Register</button>
            </div>
        </form>
    </section>
</body>
</html>



