@media only screen and (max-width: 701px) {
    nav {
        padding: 10px;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 550px) {
    #logout-btn {
        font-size: 14px;
    }
    header nav a {
        font-size: 14px;
    }
    .mainPageLink {
        font-size: 14px;
    }
    .actions a button {
        font-size: 14px;
    }
    .actions {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .actions form {
        margin: 0px;
    }
    #logout-btn {
        margin: 0px;
    }
}
