<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User not found</title>
    <link rel="stylesheet" th:href="@{/styles/errorPageStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragmentStyles/headerStyles.css}">

</head>
<body>
    <header th:replace = "fragments/headerFragment :: header"></header>
    <div id = "error-container">
        <h1>User not found!</h1>
        <h3>The account may have been deleted.</h3>
    </div>
</body>
</html>