body {
    overflow: hidden;
    margin: 0px;
}

#error-container h1 {
    font-size: 52px;
}

#error-container h3 {
    font-size: 38px;
    margin: 20px;
}

#error-container {
    position: relative;
    left: 30vw;
    width: 625px;
    top: 20vh;
    text-align: center;
}