:root {
    --green_blue: #002f34;
    --gray_white: #f2f4f5;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

#search {
    background-color: var(--gray_white);
    padding: 46px 300px;
    height: fit-content;}

#search form {
    height: fit-content;
}

#search form input {
    padding: 19px 300px;
    font-size: 22px;
    text-align: left;
    padding-left: 22px;
    margin-bottom: 20px;
}

.category a {
    color: black;
}

#search form button {
    background-color: var(--green_blue);
    padding: 16px 86px;
    font-size: 22px;
    color: white;
}
#search form button:hover {
    background-color: white;
    color: black
}

#categories {
    text-align: center;
    padding: 38px;
}

#categories h1 {
    font-size: 36px;
    margin-top:10px;
}

#categories .category {
    font-size: 20px;
    width: fit-content;
    padding: 5px;
    display: flex;
    gap: 180px;
    row-gap:140px;
    flex-wrap: wrap;
    margin-top: 76px;
}

button {
    border: 5px solid var(--green_blue);
}

button:hover {
    color: black;
    background-color: white;
}

.roles-btns {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    width: fit-content;
    margin-top: 25px;
}
.link-button {
    color: white;
    background-color: var(--green_blue);
    padding: 8px 46px;
    width: fit-content;
    font-size: 26px;
}
