@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

:root {
    --green_blue: #002f34;
    --gray_white: #f2f4f5;
}

header {
    background-color: var(--green_blue);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    height:135px;
}

#logout-btn {
    background: transparent;
    font-size: 20px;
    margin-top:30px;
    color: white;
    cursor:pointer;
    border: none;
}

a button {
    border: 3px solid white;
    color: white;
    background: transparent;
    font-size: 20px;
    padding: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.actions form {
    height:fit-content;
    margin: 30px;
}

div i {
    color: white;
}

header nav a {
    color: white;
    text-decoration: none;
    display: block;
    height:fit-content;
    margin: 10px;
    margin-top:50px;
    font-size:24px;
}


.mainPageLink {
    height:fit-content;
    margin-top:50px;
    font-size:30px;
    display: flex;
    gap:10px;
}
header nav .mainPageLink a {
    margin: 2px;
}