<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id = "list" th:fragment = "adList">
        <a th:each = "ad : ${ads}" th:href="@{/ads/getAdInfo/{id}(id = ${ad.id})}" >
            <div class="ad-overview">
                <img th:src="@{/ads/getImages/{id}(id = ${ad.id})}" alt="Ad image">
                <div>
                    <h1 th:text = "${ad.title}"></h1>
                    <small th:text = "${ad.location}"></small>
                    <div class="price">
                        <p th:text = "${#numbers.formatDecimal(ad.price, 0, 'COMMA', 2, 'POINT')}"></p>
                        <p>BGN</p>
                    </div>
                </div>
            </div>
        </a>
        <h1 th:if = "${#lists.isEmpty(ads)}" class = "empty-message">Nothing found :(</h1>
    </section>
</body>
</html>