<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment = "header">
        <nav>
            <div class="mainPageLink">
                <i class="fa-solid fa-store"></i>
                <a th:href="@{/}">Market</a>
            </div>
            

            <div th:if = "${isOnMainPage}" sec:authorize = "isAuthenticated()">            
                <a th:href="@{/users/profile/{id}(id = ${userId})}">
                    <i class="fa-solid fa-user"></i> <span>Profile</span>
                </a>
            </div>
            

            <div class="actions">
                <a th:href="@{/ads/addAd}" sec:authorize = "isAuthenticated()">
                    <button>Add a new ad</button>
                </a>
                <a th:href="@{/users/login}" sec:authorize = "!isAuthenticated()">Login</a>
                <a th:href="@{/users/register}" sec:authorize = "!isAuthenticated()">Register</a>
                
                <form th:action="@{/users/logout}" th:method = "POST" sec:authorize = "isAuthenticated()">
                    <button type="submit" id="logout-btn">Logout</button>
                </form>
                
            </div>
        </nav>
    </header>
</body>
</html>