:root {
    --green_blue: #002f34;
    --gray_white: #f2f4f5;
}

html body {
    overflow-x: hidden;
    margin: 0px;
    background-color: var(--gray_white);
}

header {
    background-color: var(--green_blue);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

nav div a {
    margin: 24px;
    
    font-size: 20px;
}

article {
    width: fit-content;
}

#image-container, img {
    max-width: 600px;
    max-height: 600px;
}


.user-info {
    position: relative;
    left:65%;
    bottom: 150px;
}

.ad-info {
    position: relative;
    bottom: 575px;;
    left: 65%;
}

section {
    margin: 20px 20%;
}

article {
    background-color: white;
}

h1 {
    font-size: 30px;
}