:root {
    --green_blue: #002f34;
    --gray_white: #f2f4f5;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

header {
    background-color: var(--green_blue);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

a{
    font-size: 22px;
    color: white;
    text-decoration: none;
}

nav div a {
    margin: 24px;
    
    font-size: 20px;
}

#search {
    background-color: var(--gray_white);
    padding: 46px 300px;
    height: fit-content;}

#search form {
    height: fit-content;
}

#search form input {
    padding: 19px 300px;
    font-size: 22px;
    text-align: left;
    padding-left: 22px;
}

.category a {
    color: black;
}

#search form button {
    background-color: var(--green_blue);
    padding: 19px 86px;
    font-size: 22px;
    color: white;
}
#categories {
    text-align: center;
    padding: 38px;
}

#categories h1 {
    font-size: 36px;
}

#categories .category {
    font-size: 20px;
    width: fit-content;
    padding: 5px;
    display: flex;
    gap: 180px;
    flex-wrap: wrap;
    margin-top: 76px;
}
